.widget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 332px;
    height: 65px;
    padding: 22px;
    box-sizing: border-box;
    gap: 23px;
}

.text {
    font-size: 18px;
    line-height: 36px;
    padding: 12px;
    box-sizing: border-box;
}

.text--city {
    font-weight: 500;
    color: #838383;
    width: auto;
    min-width: 70px;
}

.text--temperature {
    font-weight: 700;
    color: #000000;
    width: 100%;
}

.widget__icon {
    background-image: url(icons/Sunny_with_cloud.png);
    //background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
}