.taskrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 482px;
    padding: 8px 12px 8px 12px;
    box-sizing: border-box;
    gap: 16px;
}

.taskrow--hidden {
    display: none;
}

.taskcontent {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 15px 0px 15px;
}

.taskname {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    overflow-wrap: break-word;
}

.taskname--inactive {
    color: #838383;
}