//variables
$baseColor : white;
$fontColor : red;
$initdeg : 15deg;

body{
  background: $baseColor;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}
svg{
  width: 100px;
  height: 100px;
  margin: 20px;
}
.clock {
  transform: translate(50px, 50px)
}

.clock__hour {
  animation: rotate 50s linear infinite;
}
.clock__minute {
  animation: rotate 5.6s steps(60, end) infinite;
}

@keyframes rotate {
  from {
    transform: translate(50px, 50px) rotate(0deg);
  }
  to {
    transform: translate(50px, 50px) rotate(360deg);
  }
}
