:root{
  --maincolor: rgba(200, 200, 200, 1);
  --shadowcolor: rgba(150, 150, 150, 0.5);
  --buttoncolor: rgba(200, 200, 200, 0.5);
  --bordercolor: rgba(50, 50, 100, 0.8);
  --time: 0.816s;
  --path1: 'M 1 1 L 21 8 L 1 15 L 18.1 21 L 21 20 L 1 13 L 21 6 L 6.7 1 L 1 3 L 21 10 L 1 17 L 12.4 21 L 21 18 L 1 11 L 21 4 L 12.4 1 L 1 5 L 21 12 L 1 19 L 6.7 21 L 21 16 L 1 9 L 21 2 L 18.1 1 L 1 7 L 21 14 L 1 21 L 21 14 L 1 7 L 18.1 1 L 21 2 L 1 9 L 21 16 L 6.7 21 L 1 19 L 21 12 L 1 5 L 12.4 1 L 21 4 L 1 11 L 21 18 L 12.4 21 L 1 17 L 21 10 L 1 3 L 6.7 1 L 21 6 L 1 13 L 21 20 L 18.1 21 L 1 15 L 21 8 Z';
  --path2: 'M 14 21 L 7 1 L 1 18.1 L 2 21 L 9 1 L 16 21 L 21 6.7 L 19 1 L 12 21 L 5 1 L 1 12.4 L 4 21 L 11 1 L 18 21 L 21 12.4 L 17 1 L 10 21 L 3 1 L 1 6.7 L 6 21 L 13 1 L 20 21 L 21 18.1 L 15 1 L 8 21 L 1 1 L 8 21 L 15 1 L 21 18.1 L 20 21 L 13 1 L 6 21 L 1 6.7 L 3 1 L 10 21 L 17 1 L 21 12.4 L 18 21 L 11 1 L 4 21 L 1 12.4 L 5 1 L 12 21 L 19 1 L 21 6.7 L 16 21 L 9 1 L 2 21 L 1 18.1 L 7 1 L 14 21 L 21 1 Z';
  --path3: 'M 21 8 L 1 15 L 18.1 21 L 21 20 L 1 13 L 21 6 L 6.7 1 L 1 3 L 21 10 L 1 17 L 12.4 21 L 21 18 L 1 11 L 21 4 L 12.4 1 L 1 5 L 21 12 L 1 19 L 6.7 21 L 21 16 L 1 9 L 21 2 L 18.1 1 L 1 7 L 21 14 L 1 21 L 21 14 L 1 7 L 18.1 1 L 21 2 L 1 9 L 21 16 L 6.7 21 L 1 19 L 21 12 L 1 5 L 12.4 1 L 21 4 L 1 11 L 21 18 L 12.4 21 L 1 17 L 21 10 L 1 3 L 6.7 1 L 21 6 L 1 13 L 21 20 L 18.1 21 L 1 15 L 21 8 L 1 1 Z';
  --path4: 'M 10 21 L 17 1 L 21 12.4 L 18 21 L 11 1 L 4 21 L 1 12.4 L 5 1 L 12 21 L 19 1 L 21 6.7 L 16 21 L 9 1 L 2 21 L 1 18.1 L 7 1 L 14 21 L 21 1 L 14 21 L 7 1 L 1 18.1 L 2 21 L 9 1 L 16 21 L 21 6.7 L 19 1 L 12 21 L 5 1 L 1 12.4 L 4 21 L 11 1 L 18 21 L 21 12.4 L 17 1 L 10 21 L 3 1 L 1 6.7 L 6 21 L 13 1 L 20 21 L 21 18.1 L 15 1 L 8 21 L 1 1 L 8 21 L 15 1 L 21 18.1 L 20 21 L 13 1 L 6 21 L 1 6.7 L 3 1 Z';
  }

html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

audio {
  display: none;
}
video {
  height: 100px;
  width: 300px;
  display: none;
}

body {
  position: fixed;
  background: #303030;
}

button {
  position: absolute;
  width: 100px;
  height: 20px;
  border-radius: 5px;
  border: transparent;
  top: calc(100% - 25px);
  left: calc(0% + 5px);
  transform: translate(-0%, -0%);
  background: -webkit-linear-gradient(top, var(--bordercolor), 
                                            var(--buttoncolor), 
                                            var(--bordercolor));;
  filter: drop-shadow(0px 0px 20px var(--shadowcolor));
  transition: all;
}
button:hover {
  background: -webkit-linear-gradient(top, var(--bordercolor), 
                                            var(--buttoncolor), 
                                            var(--buttoncolor), 
                                            var(--bordercolor));
}

a {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  color: black;
  font-family: system-ui;
  text-decoration: none;
  font-weight: bold;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  border: 1px solid white;
}

.logo1 {
  transform: rotateY(45deg);
  offset-rotate: 0deg;
  offset-path: path(var(--path1));
  animation:  move calc(var(--time)*40) linear infinite,
              cch calc(var(--time)*7) step-start infinite;
}
.logo2 {
  transform: rotateY(45deg);
  offset-rotate: 0deg;
  offset-path: path(var(--path2));
  animation:  move calc(var(--time)*80) linear infinite, 
              cch calc(var(--time)*14) step-start infinite;
}
.logo3 {
  transform: rotateY(45deg);
  offset-rotate: 0deg;
  offset-path: path(var(--path3));
  animation:  move calc(var(--time)*120) linear infinite, 
              cch calc(var(--time)*21) step-start infinite;
}
.logo4 {
  transform: rotateY(45deg);
  offset-rotate: 0deg;
  offset-path: path(var(--path4));
  animation:  move calc(var(--time)*160) linear infinite, 
              cch calc(var(--time)*28) step-start infinite;
}

@keyframes move {
  to {
    offset-distance: 100%;
  }
}
@keyframes cch {
  0% {
    filter: none;
  }
  14.28% { 
    filter: invert(11%) sepia(100%) saturate(4182%) hue-rotate(242deg) brightness(103%) contrast(152%); 
  }
  28.57% { 
    filter: invert(17%) sepia(72%) saturate(7057%) hue-rotate(357deg) brightness(101%) contrast(117%);
  }
  42.85% { 
    filter: invert(73%) sepia(89%) saturate(4859%) hue-rotate(89deg) brightness(113%) contrast(140%);
    }
  57.14% { 
    filter: invert(91%) sepia(41%) saturate(1518%) hue-rotate(347deg) brightness(107%) contrast(112%);
    }
  71.42% { 
    filter: invert(75%) sepia(78%) saturate(573%) hue-rotate(117deg) brightness(106%) contrast(105%);
    }
  85.71% { 
    filter: invert(18%) sepia(50%) saturate(6763%) hue-rotate(296deg) brightness(118%) contrast(125%);
    }
  100% {
    filter: none;
    }  
}