.currenttasklist {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 100px;
    gap: 17px;
    padding: 8px 12px 8px 12px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-wrap: break-word;

}
